PORT=4000
MONGODB_URI=
JWT_SECRET=
FRONTEND_URL=http://localhost:3000
NODE_ENV=development
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:4000/auth/github/callback
GITHUB_TOKEN=
GITHUB_WEBHOOK_SECRET=
SCORING_VERSION=v1
SCORING_BASE=0
SCORING_MERGED_BONUS=0
EVENT_START_DATE=2026-10-01T00:00:00.000Z
EVENT_END_DATE=2026-11-01T00:00:00.000Z